/* Navbar CSS */
.navbar {
  background-color: #b24448;
}

.navbar-brand,
.navbar-nav .nav-link,
.navbar-nav .nav-dropdown .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 12px; /* Smaller font size */
}

.navbar-brand {
  margin-right: 10px;
}

.navbar-dropdown {
  margin-left: 6px;
}

.navbar-dropdown .nav-link:hover {
  background-color: #f8f9fa;
  color: black;
}

.navbar-brand:hover {
  background-color: #f8f9fa;
  color: black;
}

.navbar-brand,
.navbar-nav .nav-link {
  font-size: 14px;
}

.navbar-collapse {
  flex-grow: 0;
}

@media (max-width: 768px) {
  .navbar-brand,
  .navbar-nav .nav-link,
  .navbar-nav .nav-dropdown .nav-link {
    font-size: 10px;
  }

  .navbar-collapse {
    flex-grow: 1;
  }

  .navbar-brand {
    font-size: 12px;
  }

  .navbar-nav .nav-link {
    font-size: 12px;
  }

  .custom-toggler {
    font-size: 0.75rem; /* Adjust the size of the hamburger menu */
  }

  .absolute {
    display: none; /* Hide the date on mobile screens */
  }

  .navbar-dropdown {
    margin-left: 0;
  }

  .navbar-brand,
  .navbar-nav .nav-link,
  .navbar-nav .nav-dropdown .nav-link {
    font-size: 10px;
  }

  .navbar-collapse {
    flex-grow: 1;
  }
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  background-color: #f8f9fa;
  color: black;
}

.navbar-dropdown-title {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.navbar-dropdown .nested-dropdown {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

.navbar-dropdown .navbar-dropdown:hover .nested-dropdown {
  display: block;
}
