@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.navbar{
 /* background: rgb(63,94,251);

    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 97%);; */

    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(114,88,212,1) 0%, rgba(252,70,107,1) 0%);



}


.heading{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px
}
