.studenChart {
  /* Add other styles if necessary */
}

.studenChart .customScrollbar {
  overflow-x: auto;
}

.studenChart .customScrollbar::-webkit-scrollbar {
  height: 5px;

  /* width: 4px; */
}

.studenChart .customScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  width: 12px;
}

.studenChart .customScrollbar::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 10px;
}

.studenChart .customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #057fe4;
  cursor: pointer;
}
